# ==================== ОСНОВНЫЕ НАСТРОЙКИ ====================
BOT_TOKEN=

# ID группы и топики
GROUP_ID=
THREAD_DOMOSTROY=
THREAD_MONTAGNIKI=
THREAD_POSTAVSHCHIKI=
THREAD_DOSTAVKA=

# Google Sheets
GOOGLE_CREDENTIALS_FILE=google-key.json

# Redis (на VPS будет localhost)
REDIS_HOST=
REDIS_PORT=
REDIS_DB=


# Адрес склада
WAREHOUSE_ADDRESS=г. Новосибирск, СПК Сибирский Авиатор 15А


# ЮKassa — для прямой оплаты (ссылка)
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

# Старый ключ для Telegram Payments (пока оставь, если используешь где-то)
YOOKASSA_TELEGRAM_TOKEN=